.header {
  position: sticky;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  list-style-type: none;
  justify-content: space-between;
  background-color: #222;
  border: 2px solid red;
}

.nav-left {
  display: flex;
  color: white;
  font-size: 20px;
  border: 2px rgb(46, 44, 141);
}
.home {
  margin-left: 15px;
  cursor: pointer;
}
.text {
  margin-right: 30px;
  width: 100px;
  padding: 4px;
  font-size: 15px;
  border: 1px solid rgb(4, 4, 10);
  border-radius: 2px;
  border: 2px solid white;
  box-shadow: white;
}
.btn {
  display: inline-block;
}
.searchbtn {
  border-color: #04aa6d;
  color: green;
}

.searchbtn:hover {
  background-color: #04aa6d;
  color: white;
}
.inputfield {
  display: flex;
  flex-direction: column;
  border: #04aa6d solid 2px;
  margin-left: 40px;
  margin-right: 40px;
}
.add {
  font-size: 30px;
  font-style: italic;
  margin: 10px;
}

.input1 {
  display: flex;
  flex-direction: row;

  /* border: #0489aa solid 2px; */
}
.txt {
  width: 95%;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.textarea {
  width: 95%;
  height: 100px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.addnote {
  font-size: 30px;
  font-style: italic;
  margin: 10px;
  background-color: #0a0a23;
  color: #fff;
}
.addnote:hover {
  cursor: pointer;
  background-color: orangered;
  color: white;
}
.yournote {
  font-size: 30px;
  font-style: oblique;
  margin-left: 29px;
  border: 2px solid rgb(167, 165, 63);
  box-shadow: 4px 8px #888888;
}
p {
  margin-left: 27px;
  font-weight: 10px;
  font-style: oblique;
}
#notesfield {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 95%;
  margin-left: 27px;
  border: 2px solid black;
}
#innernotes {
  width: 40%;
  padding: 5px;
  border: 2px ridge blue;
  text-align: justify;
  height: 40%;
}

.delbtn {
  cursor: pointer;
  display: block;
  background-color: #04aa6d;
  color: antiquewhite;
}
.hidden {
  display: none;
}
